@import './_include-media.scss';
// @import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

// TODO download font to save load time
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');

// ======== VARIABLES =========

// nav
$navcolour: #696767b3;
$navslider: #56595de7;
$navhover: rgb(31, 28, 28);
$navheight: 50px;

// info
$subInfo: #636145;

// ======== STYLES =========

// configured in vue.config.js
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &:not(i) {
    // font-family: 'Cardo', serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
  }
}

h1 {
  letter-spacing: 3px;
}

strong {
  font-weight: 600;
}

body {
  min-height: 100vh;
}

input,
textarea {
  display: block;
  resize: none;
  width: 60%;
}

input[type='radio'],
input[type='checkbox'] {
  display: inline;
  width: 15px;
}

.money {
  letter-spacing: 1px;
}

// ANIMATIONS

// basket/checkout

@keyframes letterShade {
  from {
    text-shadow: none;
  }
  to {
    // text-shadow: 11px 11px 1px #5899b36e;
    // text-shadow: 4px 2px 2px #00ffcf;
    text-shadow: 6px 4px 3px #5899b36e;
  }
}
@keyframes boxShade {
  from {
    box-shadow: none;
  }
  to {
    // box-shadow: 4px 4px 3px 1px #5899b36e;
    // box-shadow: 25px 25px 10px 1px #556f796e;
    // box-shadow: 0 0.5em 0.8em -0.2em #878c78;
    box-shadow: 0.15em 0.6em 0.8em 0.05em #878c78;
  }
}
