@import './_include-media.scss';
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');
// ======== VARIABLES =========

// nav
$navcolour: #696767b3;
$navslider: #56595de7;
$navhover: rgb(31, 28, 28);

// ======== STYLES =========

// configured in vue.config.js
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cardo', serif;
}
h1 {
  letter-spacing: 3px;
  margin-left: 5vw;
  margin-top: 2vh;
}

body {
  min-height: 100vh;
  overflow: hidden;
}
